.mat-toolbar.mat-primary {
    background: #000000;
    color: #fff;
  }

.logo-align {
    position: absolute;
    left: 1%;
}  

.login-img-align {
  position: absolute;
  right: 1%;
  top: 2%;
}

.title-center {
  position: absolute;
  left: 45%;
}